.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

/* View More Button Styles */
.view-more-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.view-more-container button {
    background: transparent;
    font-size: 16px;
    color: #fff;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.view-more-container button:hover {
    background-color: tomato;
}