.header {
    height: 34vw;
    margin: 30px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1000&auto=format&fit=crop') no-repeat center center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 600;
    color: white;
    font-size: max(4.5vw, 22px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.header-contents p {
    color: #f0f0f0;
    font-size: 1vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.4;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}

.header-contents button:hover {
    background-color: #e2e2e2;
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }
}