.contact-page {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 50px 0;
}

.contact-container {
    width: 90%;
    max-width: 800px;
    min-height: 50vh;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-container h2 {
    color: #262626;
    font-size: 28px;
    font-weight: 600;
}

.contact-container p {
    color: #6d6d6d;
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    padding: 12px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: 2px solid tomato;
    border-color: transparent;
}

.contact-form button {
    background-color: tomato;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #ff4c4c;
}