.app-download {
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 500;
}

.app-download-platforms {
    display: flex;
    justify-content: center;
    gap: max(2vw, 10px);
    margin-top: 40px;
}

.store-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.store-btn:hover {
    transform: scale(1.05);
    background-color: tomato;
}

.store-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
}

.store-text small {
    font-size: 10px;
}

.store-text span {
    font-size: 16px;
    font-weight: bold;
}