.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.logo {
    width: 150px;
    font-size: 30px;
    font-weight: 700;
    color: tomato;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #b0b0b0;
    font-size: 18px;
}

.navbar-menu li {
    cursor: pointer;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #fff;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: tomato;
}

.navbar-profile {
    position: relative;
    cursor: pointer;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #333;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown li:hover {
    color: tomato;
}