.place-order {
    margin-top: 100px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    color: white;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline: none;
    background-color: #333;
    color: white;
}

.multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.place-order .cart-total button {
    margin-top: 30px;
}

@media (max-width: 750px) {
    .place-order {
        flex-direction: column;
    }
}

.payment-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.payment-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.payment-option:hover {
    border-color: tomato;
}

.payment-option input {
    accent-color: tomato;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.payment-option label {
    cursor: pointer;
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}